.container {
    background-color: rgb(218, 212, 212);
    padding: 10px;
    margin: 5px;
    height: 80vh;
    border: 2px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: start;
    gap: 5px;
 

}
.Title-Name {
    
    color: rgb(213, 140, 140);
    font-weight: bold;
    margin-bottom: 2px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
}
.occupation {
    
    margin-top: 0;
    margin-bottom: 20;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
.menu {
    grid-row: 2;
    margin: 0;

}
li {
    
    list-style: none;
    display: flexbox;

}

.projects-button, .contact-button, .info-button, .home-button {
    border:none;
    background-color: inherit;
}


.landingpage-text {
    grid-column: 4;
    grid-row: 4;
    justify-items: end;
}