.outer-border {
    background-color: rgb(218, 212, 212);
    margin: 20px;
    padding-top: 20px;
   

}
.Title-Name {
    color: rgb(219, 177, 177);
    font-weight: bold;
    
}
.landingpage-text {

}
.landingpage-menu {

}
.projects-button, .contact-button, .info-button {
    border:none;
    background-color: inherit;
}
ol {
  
}